.topMargin{
  margin-top: 2rem;
}

.bottomMargin{
  margin-bottom: 3rem;
}

.jumbotron{
  padding-top: 2rem;
  margin-bottom: 0px;
}

.quoteStormBlue{
  background-color: #156592;
}

.orangeGradient{
  background: #F2994A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heroImage{
  height: 100vh;
  background-image:
  linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8)),
  url('../images/bgimage1.jpg');
  background-size: cover;
}

h1{
  font-family: 'Open Sans', sans-serif;
}

.tcpaLanguage{
  font-size: 7px;
}


.email-invalid{
  color:red;
  display:none;
}

.phone-invalid{
  color:red;
  display:none;
}
.input-invalid{
  border-color:red;
}
